<app-game-over-screen [scores]="scores" (playAgainClicked)="startGame()" *ngIf="gameOver"></app-game-over-screen>

<app-header></app-header>

<app-completed-tracker>{{answerCount}}</app-completed-tracker>
<div class="number-box-container">
  <app-number-box #numberBox></app-number-box>
</div>

<div class="answer-button-container">
  <app-answer-button [answer]="'even'" (onClicked)="adjustScore('even')"></app-answer-button>
  <app-answer-button [answer]="'odd'" (onClicked)="adjustScore('odd')"></app-answer-button>
</div>
